<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
  <h1>Show Property</h1>
  
  <table>
    <tbody>
      <tr>
        <th>Id</th>
        <td><%= @property.id %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= @property.name %></td>
      </tr>
      <tr>
        <th>District</th>
        <td><%= @property.district %></td>
      </tr>
      <tr>
        <th>City</th>
        <td><%= @property.city %></td>
      </tr>
      <tr>
        <th>Type</th>
        <td><%= @property.types %></td>
      </tr>
      <tr>
        <th>MRT Line Station</th>
        <td><%= @property.mrt_line_station %></td>
      </tr>
      <tr>
        <th>Beds Number</th>
        <td><%= @property.beds_number %></td>
      </tr>
      <tr>
        <th>Rent Per Month</th>
        <td><%= @property.rent_per_month %></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
